
.scorecard {
  margin-bottom: 1em;
  margin-top: 1em;
  width: 100%;
}

@media (min-width: 768px) {
  .scorecard {
    width: 47%;
    margin: 1.25%;
  }
}

.team-logo {
  width: 200%;
  position: relative;
  left: -50%;
  /* margin: auto; */
}

.ORL {
  left: -69%;
  height: 60%;
  margin: 20% 0 0 0;
}

.h5toh4 {
  margin-top: 0;
  margin-bottom: .5rem;
  font-weight: 500;
  line-height: 1.2;
  font-size: 1.25rem;
  text-align: center!important;
}

@media (min-width: 992px) {
  .h5toh4 {
    font-size: 1.5rem;
  }
}

.score-num {
  margin-top: 0;
  margin-bottom: .5rem;
  font-weight: 500;
  line-height: 1.2;
  font-size: 1.75rem;
  text-align: center!important;
}

@media (min-width: 992px) {
  .score-num {
    font-size: 2.5rem;
  }
}

/* @media (min-width: 992px) {
  .team-logo {
    height: 150px;
  }
} */

.float-left.spread {
  margin-left: 4%;
}

.float-right.spread {
  margin-right: 4%;
}

.spread {
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  font-weight: 500;
  line-height: 1.2;
  font-size: 1.4rem;
}

@media (min-width: 450px) {
  .spread {
    font-size: 1.75rem;
  }
}

@media (min-width: 768px) {
  .spread {
    font-size: 1.4rem;
  }
}

@media (min-width: 992px) {
  .spread {
    font-size: 1.75rem;
  }
}

.projected-row {
  padding-top: 1rem;
}

.proj-score {
  font-size: 1.05rem;
}

@media (min-width: 576px) {
  .proj-score {
    font-size: 1.25rem;
  }
}

.green {
  color: green;
}

.grey {
  color: grey;
}

.red {
  color: red;
}

.btn {
  color: white;
  background-color: black;
  display: flex;
  float: right;
}

.btn:hover {
  color: lightblue;
}

.no-games {
  margin-top: 65px;
}