
.scorecard {
  margin-bottom: 1em;
  margin-top: 1em;
  width: 100%;
}

@media (min-width: 768px) {
  .scorecard {
    width: 47%;
    margin: 1.25%;
  }
}

.imageContainer {
  width: 20%;
  height: inherit;
  overflow: hidden;
  /*position: relative;*/
  display: inline-block;
}

.image-container {
  width: 20%;
  height: inherit;
  overflow: hidden;
  position: relative;
  display: inline-block;
}

.team-logo {
  position: absolute;
  /*width: 200;*/
  height: 100px;
  top: -9999px;
  bottom: -9999px;
  left: -9999px;
  right: -9999px;
  margin: auto;
}

.score-info {
  width: 59%;
  margin-top: 0.75rem;
}

.score {
  height: 100px;
}

.h5toh4 {
  margin-top: 0;
  margin-bottom: .5rem;
  font-weight: 500;
  line-height: 1.2;
  font-size: 1.25rem;
  text-align: center!important;
}

@media (min-width: 992px) {
  .h5toh4 {
    font-size: 1.5rem;
  }
}

@media (min-width: 992px) {
  .score-info {
    margin-top: 0;
  }
}

.score-num {
  margin-top: 0;
  margin-bottom: .5rem;
  font-weight: 500;
  line-height: 1.2;
  font-size: 1.75rem;
  text-align: center!important;
}

@media (min-width: 992px) {
  .score-num {
    font-size: 2.5rem;
  }
}

@media (min-width: 992px) {
  .team-logo {
    height: 150px;
  }
}

.float-left.spread {
  margin-left: 4%;
}

.float-right.spread {
  margin-right: 4%;
}

.spread {
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  font-weight: 500;
  line-height: 1.2;
  font-size: 1.4rem;
}

@media (min-width: 450px) {
  .spread {
    font-size: 1.75rem;
  }
}

@media (min-width: 768px) {
  .spread {
    font-size: 1.4rem;
  }
}

@media (min-width: 992px) {
  .spread {
    font-size: 1.75rem;
  }
}

.projected-row {
  padding-top: 1rem;
}

.proj-score {
  font-size: 1.05rem;
}

@media (min-width: 576px) {
  .proj-score {
    font-size: 1.25rem;
  }
}
